
<%= javascript_include_tag 'canvasbg' %><canvas id="canvasbg" ></canvas>
<main>
  <%= content_tag :div, class: 'big-form' do %>
    <h1 class='big-form-banner'>Edit Admin Account</h1>
    <% @admin.errors.full_messages.each do |msg| %>
      <p class='form-error-message'><%= msg %></p>
    <% end %>
    <%= form_for @admin do |f| %>
      <p class='big-form-text'><%= f.text_field :username, autofocus: true, placeholder: 'Username' %></p>
      <p class='big-form-text'><%= f.password_field :password, placeholder: 'Password' %></p>
      <p class='big-form-text'><%= f.password_field :password_confirmation, placeholder: 'Password confirmation' %></p>
      <p><%= f.submit %></p>
    <% end %>
  <% end %>
</main>