<style>
  <%= render partial: 'custom_colors.css.erb' %>
</style>

<%= content_tag :main, class: "portfolio #{@portfolio.font}" do %>

  <%= content_tag :div, class: 'column fifth', id: "column-#{@first_column.id}" do %>
    <%= content_tag :div, class: "column-content" do %>
      <h1 id='portfolio-title'><%= @portfolio.title %></h1>
      <h2><%= fa_icon 'home' %> <%= link_to 'Home', portfolios_path %></h2>
      <h2 class='column-title'><%= @first_column.name %></h2>
      <% @first_column_entries.entries.each do |entry| %>
        <h3 class='entry-title'>
          <% if entry.title_link == true %>
            <%= link_to entry.title, entry_path(entry) %>
          <% elsif entry.external_title_link == true %>
            <%= link_to entry.title, entry.external_url, :target => '_blank' %>
    	    <% else %>
      	    <%= entry.title %>
          <% end %>
    	  </h3>

  		<% entry.tags.each do |tag| %>
    	  <%= content_tag :span, id: "tag-#{tag.id}", class: "tag" do %>
          <%= link_to tag.name, portfolios_path(tag: tag.name) %>
      	<% end %>
      <% end %>
  	  <p>
	    <%= entry.summary.html_safe %>
	  </p>
      <% end %>
    <% end %>
  <% end %>

  <%= content_tag :div, class: 'column four-fifths', id: "entry-#{@entry.title}" do %>
    <%= content_tag :div, class: "column-content" do %>
      <h2>
        <% if @entry.title_link == true %>
          <%= link_to @entry.title, entry_path(@entry) %>
        <% elsif @entry.external_title_link == true %>
          <%= link_to @entry.title, @entry.external_url, :target => '_blank' %>
        <% else %>
          <%= @entry.title %>
        <% end %>
      </h2>
      <% @entry.tags.each do |tag| %>
        <%= content_tag :span, id: "tag-#{tag.id}", class: "tag" do %>
          <% if params[:tag] && params[:tag] == tag.name %>
            <%= link_to "#{tag.name} (<i class='fa fa-times'></i>)".html_safe, portfolios_path %>
          <% else %>
            <%= link_to tag.name, portfolios_path(tag: tag.name) %>
          <% end %>
        <% end %>
      <% end %>

      <% if admin_signed_in? %>
        <%= link_to'&nbsp;<i class="fa fa-pencil-square"></i>'.html_safe, edit_entry_path( @entry), class: 'edit-link' %>
        <%= link_to'<i class="fa fa-times"></i>'.html_safe, entry_path(@entry), method: :delete, data: { confirm: "Are you sure you want to delete '#{@entry.title}'?" }, class: 'delete-link' %>
      <% end %>
      <p><%= @entry.summary.html_safe %></p>
      <p><%= @entry.content.html_safe %></p>
    <% end %>
  <% end %>
<% end %>