<style scoped>
  <%= render "custom_colors.css", fontsize: @portfolio.font_size, columns: @columns, tags: @tags %>
</style>
<%= render "load_animation" %>
<%= content_tag :main, class: "portfolio #{@portfolio.font}" do %>
  <% @columns.each_with_index do |column, index| %>
    <%= content_tag :div, class: 'column ' + get_column_class, id: "column-#{column.id}" do %>
      <%= content_tag :div, class: "column-content " + hidden?(column) do %>
        <% if column == @first_column %>
          <%= render "portfolio_title", portfolio: @portfolio, column: column %>
        <% else %>
          <p class='top-space-filler'><br></p>
        <% end %>
        <%= render "column_title", portfolio: @portfolio, column: column, index: index %>
        <% if admin_signed_in? && !(params[:preview]) %>
          <%= render "column_settings", portfolio: @portfolio, column: column, first_column: @first_column %>
          <%= link_to 'Add New Entry', new_column_entry_path(column), class: 'new-entry btn' %>
          <% if column == @first_column %>
            <%= link_to 'Manage Tags', tags_path, class: 'btn' %>
            <%= render "portfolio_settings", portfolio: @portfolio, column: column %>
          <% end %>
        <% end %>
        <%= render "entries", portfolio: @portfolio, column: column, entries: @entries[column] %>
        <%= will_paginate @entries[column], :param_name => "#{column.name}" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<%= render "footer", rss_enabled: @portfolio.rss_enabled?, pdf_enabled: @portfolio.pdf_enabled? %>